<% layout("layouts/boilerplate.ejs") %>




     <br><br>
    

    <div class="row">
     <div class="col-8 offset-2">
        <h3>Create a new Listing!</h3>
             <form method="post" action="/listings" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
       <input name="listing[title]"type="text" class="form-control"  placeholder="Add a catchy title" required/>
     <div class="valid-feedback">Title looks good!</div>   
     </div>
<div class="valid-feedback">Title looks good!</div>
<div class="invalid-feedback">Enter a valid title.</div>
<div class="mb-3">
     <label for="description" class="form-label">Description</label>
<textarea name="listing[description]" class="form-control" required ></textarea>
<div class="invalid-feedback">Enter a short description.</div>
</div>


<div class="mb-3">
     <label for="image" class="form-label">Upload Listing Image</label>
<input name="listing[image]"  class="form-control" type="file"  placeholder="Image URL" value="https://images.unsplash.com/photo-1566073771259-6a8506099945?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWxzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" required/>
</div>


 <div class="row">
    <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
<input name="listing[price]"  class="form-control"  placeholder="1200" required/>

 </div>

<div class="mb-3 col-md-8">
     <label for="country" class="form-label">Country</label>
<input name="listing[country]"  class="form-control" type="text" placeholder="India" required/>
<div class="invalid-feedback">Enter a valid country.</div>
</div>
 </div>

 <div class="mb-3">
    <label for="location" class="form-label">Location</label>
<input name="listing[location]"  class="form-control"type="text" placeholder="Jaipur,Rajasthan" required/>
<div class="invalid-feedback">Enter a valid location.</div>
 </div>

<button class="btn btn-dark add-btn">Add</button>
<br><br>
    </div>
    </div>



   

